
.button__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.button__upPage {
    font-size: 20px;
    padding: 10px;
    height: 50px;
    background: hsl(180, 100%, 25%);
    color: hsl(0, 0%, 93%);
    border: none;
    border-radius: 3px;
}

.button__upPage:hover {
    background: hsl(180, 100%, 35%);
    cursor: pointer;
}
