
.button__container {
    display: flex;
    justify-content: space-between;
}

.button__upPage {
    font-size: 20px;
    padding:5px;
    margin: 5px;
    text-decoration: none;
    height: 50px;
    background: hsl(180, 100%, 25%);
    color: hsl(0, 0%, 93%);
    border: none;
    border-radius: 3px;
}

.button__upPage:hover {
    background: hsl(180, 100%, 35%);
    cursor: pointer;
    font-weight: bold;
}

.button__tekst{
    color: hsl(0, 0%, 93%);
}