.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__item {
    padding:10px;
    margin: 5px 5px;

}

.container__header {
    color: teal;
    margin: 0 0 10px;
    border-bottom: 1px solid teal;
}

.container__header--smaller {
    margin: 0;
}

.container__tekstData {
    font-weight: bold;
    margin-top: 0;
}

.container__normalTekst {
    margin: 0;
}

/* @media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    };

} */

.buttons { 
    list-style-type: none;
    text-decoration-line: underline;
    color: teal;
    font-weight: bold;
    font-size: 20px;
}

.buttons__style {
    color: teal;
}

.buttons__style:hover { 
    list-style-type: none;
    text-decoration-line: underline;
    color: hsl(180, 100%, 30%);
    cursor: pointer;
}

.list {
    display: block;
    margin-left: 0px;
    padding-left: 0px;
}

.button__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.button__upPage {
    font-size: 20px;
    padding: 10px;
    height: 50px;
    background: teal;
    color: #eee;
    border: none;
    border-radius: 3px;
}

.button__upPage:hover {
    background: hsl(180, 100%, 35%);
    cursor: pointer;
}
