.footer{
    margin-top: 0px;
}

.footer__tekst {
    margin: 0px;
    font-size: 13px;
    text-align: center;
}

/* @media(max-width: 767px) {
    .footer__tekst {
        font-size: 6px;
    }
} */


.span--dark {
    color:#eee;
}