.header--main {
    text-align: center;
    font-size: 45px;
    color: hsl(180, 100%, 25%);
    border-bottom: 1px solid;
}

.header__image {
    height:200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 5px hsl(0, 0%, 87%);
}