.navigation__buttons { 
    list-style-type: none;
    text-decoration-line: underline;
    color: hsl(180, 100%, 25%);
    font-weight: bold;
    font-size: 20px;
}

.navigation__buttonsStyle {
    color: hsl(180, 100%, 25%);
}

.navigation__buttonsStyle:hover { 
    list-style-type: none;
    text-decoration-line: underline;
    color: hsl(180, 100%, 30%);
    cursor: pointer;
}

.navigation__list {
    display: block;
    margin-left: 0px;
    padding-left: 0px;
}