html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.page {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
    line-height: 1.80;
    font-size: 18px;
}



.body__dark {
    background:  #3a3a3a;
    color: #eee;
}

